#mobilecontainer {
  position: absolute;
  left: 14.5rem;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  /* box-sizing: border-box; */
  font-family: "Poppins", sans-serif;
}
body {
  background: #ebf2f3;
}
.navcontainer {
  position: fixed;
  background: #ebf2f3;
  width: 220px;
  height: 100%;
  max-height: calc(100vh - 3px);
  overflow-y: auto;
  margin-left: 5px;
  border-right: 3px solid black;
  border-top-right-radius: 14px;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
}
.navcontainer::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar {
  display: none;
}

.otherfeature {
  margin-top: 50px;
  list-style: none;
  position: relative;
  bottom: 0;
  font-size: x-large;
}
#mode {
  cursor: pointer;
  transition: transform 0.3s ease;
}
#mode:hover {
  transform: scale(1.1, 1.1);
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.gobackbutton {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.gobackbutton:hover {
  transform: scale(1.1, 1.1);
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}
