* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  /* box-sizing: border-box; */
  font-family: "Poppins", sans-serif;
}
span {
  font-size: xx-large;
}
.featurescontainer {
  margin-top: 40px;
  margin-bottom: 20px;
}
#comparelistredirect {
  margin-left: 10px;
  font-size: larger;
  color: black;
}
.comparelistcontainer {
  display: flex;
  margin-top: 10px;
  transition: transform 0.3s ease;
  list-style: none;
  cursor: pointer;
}
.comparelistcontainer:hover {
  transform: scale(1.1, 1.1);
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}
#wishlist {
  font-size: large;
  margin-top: 10px;
}
.wishlistanimate {
  animation: scaleupdown 0.5s infinite alternate;
}
@keyframes scaleupdown {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
    border-radius: 10px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
  }
}
body {
  background: white;
}
.navcontainer {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  width: 220px;
  color: black;
  height: 100%;
  max-height: calc(100vh - 3px);
  overflow-y: auto;
  /* margin-left: 5px; */
  border-right: 3px solid black;
  border-top-right-radius: 14px;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
}
.navcontainer::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar {
  display: none;
}
#arrow {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid black;
  margin-left: 2px;
}

.otherfeature {
  margin-top: 50px;
  list-style: none;
  position: relative;
  bottom: 0;
  font-size: x-large;
}
#mode {
  cursor: pointer;
  transition: transform 0.3s ease;
}
#mode:hover {
  transform: scale(1.1, 1.1);
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}
.logoutcontainer {
  /* position: relative; */
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}
#cardforeachphone {
  cursor: pointer;
  transition: transform 0.3s ease-out;
}
#cardforeachphone:hover {
  /* transform: translate3d(1.1, 1.1); */
  transform: scale(0.9);
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}
.logoutcontainer:hover {
  transform: scale(1.1, 1.1);
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}
.gobackbutton {
  /* position: relative; */
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.gobackbutton:hover {
  transform: scale(1.1, 1.1);
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}
.signup-incontainer {
  /* position: relative; */
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.signup-incontainer:hover {
  transform: scale(1.1, 1.1);
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}

#divforallcontent {
  position: absolute;
  left: 14.5rem;
}

.phoneSpecs {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 6px;
  font-size: larger;
}
#divforPhoneDetails {
  display: flex;
  flex-direction: row;
}
#Favouritelistbutton {
  height: 50px;
  width: 20rem;
  margin-left: 10px;
  border-radius: 10px;
  background-color: white;
  border: 2px solid black;
  font-size: large;
  color: black;
  background-image: url(add-to-favorites-icon.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 8%;
  cursor: pointer;
  transition: transform 0.3s ease;
}
#Favouritelistbutton:hover {
  transform: scale(1.1, 1.1);
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}
#RemoveFromFavButton {
  height: 50px;
  width: 20rem;
  /* margin-top: 10px; */
  margin-left: 10px;
  border-radius: 10px;
  background-color: white;
  font-size: large;
  border: 2px solid black;
  color: black;
  background-image: url(delete-from-wishlist-icon.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 8%;
  cursor: pointer;
  transition: transform 0.3s ease;
}
#RemoveFromFavButton:hover {
  transform: scale(1.1, 1.1);
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}
#note {
  font-family: "Poppins", sans-serif;
  font-size: large;
  margin-top: 7px;
}
#starimage {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 30px;
  width: 30px;
}
#toastbox {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
body::-webkit-scrollbar {
  display: none;
}
.toastmessage {
  width: 400px;
  height: 80px;
  background: white;
  border-radius: 10px;
  font-weight: 500;
  margin: 15px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  position: relative;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  transform: translateX(100%); /*To learn */
  animation: moveleft 0.5s linear forwards;
}
@keyframes moveleft {
  100% {
    transform: translateX(0);
  }
}
.toastmessage::after {
  /*To learn */
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: black;
  border-bottom-left-radius: 10px;
  animation: expirebar 3s linear forwards;
}
@keyframes expirebar {
  100% {
    width: 0;
  }
}

.toastmessage.signup::after {
  background: yellow;
}

.toastmessage.mismatched::after {
  background: red;
}

.toastmessage.success::after {
  background: green;
}
#confirmbox {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
  padding: 20px;
}
.confirmmessage {
  width: 500px;
  height: 130px;
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  position: relative;
  transform: translateX(100%); /*To learn */
  animation: moveleft 0.5s linear forwards;
}
@keyframes moveleft {
  100% {
    transform: translateX(0);
  }
}

@keyframes expirebar {
  100% {
    width: 0;
  }
}

.btn {
  padding: 0.7rem 1.7rem 0.7rem 1.7rem;
  font-size: large;
  cursor: pointer;
  border: 4px solid rgb(155, 155, 155);
}
