.phoneSpecs {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 6px;
  font-size: larger;
}
#divforPhoneDetails {
  display: flex;
  flex-direction: row;
}
.Favouritelistbutton {
  height: 50px;
  width: 35%;
  margin-left: 10px;
  border-radius: 10px;
  background-color: white;
  font-size: large;
  color: black;
  background-image: url(add-to-favorites-icon.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 8%;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.Favouritelistbutton:hover {
  transform: scale(1.1, 1.1);
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}
