* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  /* box-sizing: border-box; */
  font-family: "Poppins", sans-serif;
}
span {
  font-size: xx-large;
}
#comparelistredirect {
  margin-left: 10px;
  font-size: larger;
  color: black;
}
.comparelistcontainer {
  display: flex;
  margin-top: 10px;
  transition: transform 0.3s ease;
  list-style: none;
  cursor: pointer;
}
.comparelistcontainer:hover {
  transform: scale(1.1, 1.1);
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}
#wishlist {
  font-size: large;
  margin-top: 10px;
}
#android {
  transition: transform 0.3s ease;
}
#android:hover {
  transform: scale(1.1, 1.1);
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}
#ios {
  transition: transform 0.3s ease;
}
#ios:hover {
  transform: scale(1.1, 1.1);
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}
.OSselectioncontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 14px;
  font-size: larger;
}

#usernamevalue {
  word-wrap: break-word;
}

.navcontainer {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  color: black;
  width: 220px;
  height: 100%;
  max-height: calc(100vh - 3px);
  overflow-y: auto;
  /* margin-left: 5px; */
  border-right: 3px solid black;
  border-top-right-radius: 14px;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
}
.navcontainer::-webkit-scrollbar {
  display: none;
}
.welcomeinfo.username {
  text-align: center;
  display: flex;
}
body::-webkit-scrollbar {
  display: none;
}
#arrow {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid black;
  margin-left: 2px;
}
.dropdown {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

.select {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#osmenu {
  cursor: pointer;
  font-size: xx-large;
  list-style: none;
  animation: slidedown 1s forwards;
}
@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(2px);
  }
}
.osmenucontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.priceselectioncontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
  font-size: larger;
  padding-right: 10px;
}
#priceicon {
  margin-right: 25px;
}
#pricearrow {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid black;
}
.pricemenucontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#pricemenu {
  cursor: pointer;
  font-size: x-large;
  list-style: none;
  /* padding: 10px; */
  animation: slidedown 1s forwards;
}
.price {
  margin-top: 10px;
  transition: transform 0.3s ease;
}
.price:hover {
  transform: scale(1.1, 1.1);
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}
.otherfeature {
  list-style: none;
  position: relative;
  bottom: 0;
  font-size: x-large;
}
#mode {
  cursor: pointer;
  transition: transform 0.3s ease;
}
#mode:hover {
  transform: scale(1.1, 1.1);
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}
.logoutcontainer {
  /* position: relative; */
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}
#cardforeachphone {
  cursor: pointer;
  transition: transform 0.3s ease-out;
}
#cardforeachphone:hover {
  /* transform: translate3d(1.1, 1.1); */
  transform: scale(0.9);
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}
.logoutcontainer:hover {
  transform: scale(1.1, 1.1);
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}
.signup-incontainer {
  /* position: relative; */
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.signup-incontainer:hover {
  transform: scale(1.1, 1.1);
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}
.OSselectioncontainer {
  cursor: pointer;
  transition: transform 0.3s ease;
}
.OSselectioncontainer:hover {
  transform: scale(1.1, 1.1);
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}
.priceselectioncontainer {
  cursor: pointer;
  transition: transform 0.3s ease;
}
.priceselectioncontainer:hover {
  transform: scale(1.1, 1.1);
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}
#mobilecontainer {
  position: absolute;
  left: 14.5rem;
}
#fullSpecsButton {
  transition: transform 0.3s ease;
}
#fullSpecsButton:hover {
  transform: scale(1.1, 1.1);
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}
#toastbox {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
body::-webkit-scrollbar {
  display: none;
}
.toastmessage {
  width: 400px;
  height: 80px;
  background: black;
  border-radius: 10px;
  font-weight: 500;
  margin: 15px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  position: relative;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  transform: translateX(100%); /*To learn */
  animation: moveleft 0.5s linear forwards;
  z-index: 10;
}
@keyframes moveleft {
  100% {
    transform: translateX(0);
  }
}
.toastmessage::after {
  /*To learn */
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  border-bottom-left-radius: 10px;
  animation: expirebar 3s linear forwards;
}
@keyframes expirebar {
  100% {
    width: 0;
  }
}

.toastmessage.signup::after {
  background: yellow;
}
